.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 96vh;
  padding-bottom: 2vh;
}

.resumeContainer {
  margin-top: 1vmin;
  height: 96vh;
  overflow: auto;
  border: solid 1vmin black;
}

.generatedCV {
  overflow: scroll;
  padding: 0.5cm;
  width: 21cm;
  height: 29.7cm;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "Personal Experience Experience Experience"
  "Personal Experience Experience Experience"
  "Personal Experience Experience Experience"
  "Personal Experience Experience Experience"
  "Personal Education Education Education"
  "Personal Education Education Education";
}

@media screen and (min-width: 1200px) {
  .generatedCV {
    width: 42cm;
    height: 59.4cm;
  }
}

@media screen and (max-width: 1999px) {
  .generatedCV {
    width: 21cm;
    height: 29.7cm;
  }
}

.CVForm {
  width: 20vmin;
  padding-top: 2vh;
}

.sectionTitle {
  color: white;
  background-color: black;
  padding-left: 0.25cm;
}

.personalInfo {
  grid-area: Personal;
  background-color: rgba(144, 238, 144, 0.719);
  padding: 0.1cm;
}

.experienceInfo {
  grid-area: Experience;
}

.educationInfo {
  grid-area: Education;
}

.objective,
.experiencePoint > div,
.educationPoint > div {
  margin: 0.25cm 0 0.25cm 0;
}

.objective {
  font-size: 11px;
  font-weight: 500;
}

.educationInfo,
.experienceInfo {
  margin-left: 0.5cm;
}


form > input,
form > button,
form > textarea {
  box-sizing: border-box;
  width: 20vmin;
  height: 2vmin;
  margin: 0;
  padding: 0;
}

form > input,
form > textarea {
  appearance: none;
  border: 0.2vmin solid rgba(144, 238, 144, 0.719);
  padding: 0.5vmin;
  border-radius: 0.5vmin 0 0 0.5vmin;
  outline: none;
  color: gray;
}


form > textarea {
  height: 8vmin;
  margin-top: 0.25vmin;
  margin-bottom: -0.25vmin;
}

button {
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  background: #ededed;
  color: #000;
  width: 20vmin;
  height: 2vmin;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

button:hover {
  background: #dbdbdb;
  color: #000;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h6 {
  color: gray;
}

ul {
  margin: 0;
  padding-left: 0.5cm;
  padding-top: 0.1cm;
}

li {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
}


.inlineText {
  display: inline;
}

#experienceCompany,
#experiencePosition,
#experienceCity,
#experienceStart,
#experienceEnd,
#educationCollege,
#educationDegree,
#educationMajor,
#educationMinor,
#educationStart,
#educationEnd,
#educationCity,
#bulletText,
#keywordText,
#noteText {
  padding: 0;
  margin: 0;
}

.resumeGenTitle {
  font-style: italic;
  font-weight: 600;
}
