.container {
  display: flex;
  justify-content: flex-start;
  gap: 20vmin;
}

.generatedCV {
  padding: 0.5cm;
  width: 21cm;
  height: 29.7cm;
  border: solid 0.2vmin black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "Personal Experience Experience Experience"
  "Personal Experience Experience Experience"
  "Personal Experience Experience Experience"
  "Personal Experience Experience Experience"
  "Personal Education Education Education"
  "Personal Education Education Education";
}

.personalInfo {
  grid-area: Personal;
}

.experienceInfo {
  grid-area: Experience;
}

.educationInfo {
  grid-area: Education;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h6 {
  color: gray;
}

ul {
  margin: 0;
  padding-left: 0.5cm;
  padding-top: 0.1cm;
}

li {
  margin: 0;
  font-size: 11px;
}

.objective,
.experiencePoint > div,
.educationPoint > div {
  margin: 0.25cm 0 0.25cm 0;
}

.objective {
  font-size: 11px;
}

.educationInfo,
.experienceInfo {
  margin-left: 0.5cm;
}

.inlineText {
  display: inline;
}